.container {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  color: #333;
}

form {
  margin-bottom: 30px;
}

input[type="date"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #055C0F;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

button:hover {
  background-color: #0056b3;
}

.periodo-card {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f7f6f6da;
}

.periodo-card ul {
  padding-left: 20px;
}

.periodo-card li {
  margin-bottom: 10px;
}

.error {
  color: red;
}
