html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.user-info {
  padding: 10px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.main-content {
  flex: 1; /* ocupa o espaço entre Header e Footer */
  padding: 20px;
}

.text-block {
  white-space: pre-wrap;   /* respeita \n */
  word-wrap: break-word;   /* força quebra se a palavra for gigante */
  overflow-wrap: break-word; /* mais moderno, funciona junto */
}

.text-sucesso {
  background-color: #d4edda;   /* verde claro */
  color: #23641d;              /* verde escuro para contraste */
  padding: 12px 16px;          /* espaço interno */
  width: 100%;                 /* cobre toda a largura */
  display: block;              /* garante comportamento de bloco */
  text-align: center;          /* centraliza o texto */
  border-radius: 8px;          /* pontas arredondadas */
  margin-bottom: 16px;         /* espaçamento abaixo */
  font-weight: 500;            /* texto mais marcante */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* leve sombra para destacar */
  font-family: 'Roboto', sans-serif;
}

.text-erro {
  background-color: #fba5ac; /* vermelho claro */
  color: #770404;            /* vermelho escuro para o texto */
  padding: 12px 16px;
  display: block;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: 'Roboto', sans-serif;
}

