html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
<<<<<<< HEAD
  background-image: url('./assets/Papel_de_parede1.jpg');
=======
>>>>>>> 43901ff731fb63267482abcdd449d17dc21ff40d
}
*, *::before, *::after {
  box-sizing: inherit;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* ocupa o espaço entre Header e Footer */
  padding: 20px;
}

.text-block {
  white-space: pre-wrap;   /* respeita \n */
  word-wrap: break-word;   /* força quebra se a palavra for gigante */
  overflow-wrap: break-word; /* mais moderno, funciona junto */
}

