  /* area leitor */
  .area-leitor {
    display: flex;
    align-items: center;
    vertical-align: middle;
    gap: 2px;
    margin: 2px;
  }
  
  /* botao principal */
  .botao {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
  /* esconde o checkbox padrao */
  .botao input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* parte deslizante */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* bolinha dentro */
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* ativado */
  input:checked + .slider {
    background-color: #0a0;
  }
  
  /* move a bolinha */
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  
  /* texto ao lado */
  .leitor-label {
    font-size: x-large;
    vertical-align: middle;
    font-weight: bold;
    color: #333;
  }  